.navbar.navbar-default.navbar-fixed-top
  .navbar-header
    %button.navbar-toggle{'data-toggle' => 'collapse', 'data-target' => '.navbar-collapse'}
      Menu
    %span.visible-xs.navbar-brand
    .navbar-collapse.collapse
      %ul.nav.navbar-nav
        %li= link_to "Home", '#'
        %li= link_to "Help", '#'
        %li= link_to "About", '#'
        %li= link_to "Contact", '#'
